{% load bootstrap5 %}
<div class="card mt-4" >
  <div class="card-header">
    <p>
      <img src="{{post.user.profile_image.url}}" alt="" class="rounded-circle" width="50px">
      <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none">{{post.user}}</a>
      {% if user == post.user %}
        <a href="{% url 'posts:edit' id=post.id %}" class="btn btn-outline-primary">edit</a>
        <a href="{% url 'posts:delete' id=post.id %}" class="btn btn-outline-primary">delete</a>
      {% endif %}
    </p>
  </div>
    <img src="{{post.image.url}}" alt="...">
    <div class="card-body">
      
        {% if post in user.like_posts.all %}
          <i class="bi bi-heart-fill heart" style="color: red" data-post-id="{{post.id}}">{{post.like_users.all|length}} </i>
        {% else %}
          <i class="bi bi-heart heart" data-post-id="{{post.id}}">{{post.like_users.all|length}} </i>
        {% endif %}
        명이 좋아합니다.
        
      <p class="card-text">{{post.content}}</p>
      <p class="card-text">{{post.created_at|timesince}}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer">
      {% if user.is_authenticated %}
      <form action="{% url 'posts:comment_create' post_id=post.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input type="submit">
      </form>
      <hr>
      {% endif %}

      {% for comment in post.comment_set.all %}
        <li>
          {{comment.user}} : {{comment.content}}
          <span style="font-size: 12px;">{{comment.created_at|timesince}}</span>
          {% if user == comment.user %}
          <a href="{% url 'posts:comment_delete' post_id=post.id id=comment.id %}">
          <i class="bi bi-trash3"></i>
        </a>
        {% endif %}
        </li>
        
      {% endfor %}
    </div>
  </div>