{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <img src="{{user_info.profile_image.url}}" alt="" class="img-fluid rounded-circle">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-3">{{user_info.username}}</div>

            <!-- user: 로그인한 사람 / user_info: 프로필 페이지 유저 -->
            {% if user != user_info %}
            <div class="col-4">
                {% if user in user_info.followers.all %}
                    <a href="{% url 'accounts:follow' username=user_info.username %}" class="btn btn-primary btn-sm">팔로잉</a></div>
                {% else %}
                    <a href="{% url 'accounts:follow' username=user_info.username %}" class="btn btn-secondary btn-sm">팔로우</a></div>
                {% endif %}
            {% endif %}

        </div>
        <div class="row">
            <div class="col">게시물 {{user_info.post_set.all|length}}</div>
            <div class="col">팔로워 {{user_info.followers.all|length}}</div>
            <div class="col">팔로잉 {{user_info.followings.all|length}}</div>
        </div>
    </div>
</div>

<div class="row row-cols-3">
    {% for post in user_info.post_set.all %}
    <div class="col">
        <div class="card">
            <img src="{{post.image.url}}" alt="">
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}